body {
	margin: 0;
	font-family: 'Fredoka', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/*Header section*/

header{
	background-image:url('/static/image/header2.png');
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color:  aliceblue;
	font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 15px solid aliceblue;
}

/*Main section*/
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}


main video {
	width: 800px;
}

main img{
	width: 800px;
}

main h2{
	color: rgb(72, 61, 139);
	font-size: 30px;
	margin: 40px 0 10px;
}

main a{
	color: black;
}

main a:hover{
	background-color: rgb(72, 61, 139);
	color: aliceblue;
}

p.caption{
	margin-top: 0;
	color:  grey;
	font-style: italic;
	font-size: 20px;
}

/*Gallery section*/

div.gallery{
	width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	border: 1px solid #ccc;
}

div.gallery h2{
	color: rgb(72, 61, 139);
	font-size: 30px;
	margin: 40px 0 10px;
}

div.gallery:img{
	width: 100%;
	height: auto;
}

div.desc{
	padding: 15px;
	text-align: center;
}

/*Footer section*/

footer{
	background-image:url('/static/image/header2.png');
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
	color:  white;
	font-size: 20px;
}

footer a{
	color: white;
}

footer a:hover{
	background-color: aliceblue;
	color: rgb(72, 61, 139);
}